#div1{
    background-color: rgb(53, 61, 168);
    margin: auto;
    width: 15%;
    border: 3px solid rgb(248, 248, 248);
    padding: 10px;
}

.demo{
    color: rgb(255, 255, 255);
    font-size:0px;
}

#button1{
    
    width: auto;
    height: auto;
    padding: 3px;
}
